Enforce server side MaxUDPSize

**What happened**: Currently, the maximum size of an answer is informed by the client's accepted Bufsize (or optionally clamped by the bufsize plugin)

**What you expected to happen**:
The request UDP Size is only a signal of how much a client is willing to receive, but it should not be dictating how big an answer a server should send.
The server should be able to configure a MaxUDPSize value and the max answer size, for UDP should be:

```
max(MinUDPSize, min(ServerMaxUDPOutSize, client.UDPSize))
```
where client.UDPSize defaults to MinUDPSize if EDNS is not set.

**Anything else we need to know?**:

When Scrubbing the reply:
https://github.com/coredns/coredns/blob/03812bb1e7ec6af384976bc4a9fb22f054dece89/request/request.go#L220-L221)
The message is truncate to request.Size() size. This size is computed by looking at the client's request accepted bufsize, and then normalize.
https://github.com/coredns/coredns/blob/03812bb1e7ec6af384976bc4a9fb22f054dece89/request/request.go#L167-L174

This has the effect that if a client send a Bufsize of 4k, the server will reply up to 4k.

I am aware of the `bufsize` plugin, but I would argue it does not do the job, albeit there may be ways to change it in a way that make it compatible.

For one, the `bufsize` plugin adds EDNS when there is no EDNS. This is wrong for 2 reasons IMO:
- if there were no EDNS in the request, we should not add EDNS in the reply ([RFC6891 Section 7](https://tools.ietf.org/html/rfc6891#section-7)
> Lack of presence of an OPT record in a request MUST be taken as an
   indication that the requestor does not implement any part of this
   specification and that the responder MUST NOT include an OPT record
   in its response.
- by default, this would mean that the client accepts max 512, for any value of bufsize > 512, we would now possibly return payload bigger than accepted by the client.

If EDNS is set, the plugin may allow for a bigger payload than accepted by the requester (say requester allow 512, and we clamp to 1024, 1024 is now going to be the payload size allowed).


**Proposed solution**:

`Scrub` and `Size` being request methods, we somehow need to set the maximum UDP size as part of the request struct.

A possible solution would be to have a new attribute in the `Request` struct, say `MaxUDPSize`. The `ScrubWriter` could then set that value to whatever the server policy is willing to do when created the request object: https://github.com/coredns/coredns/blob/7339235de1663cd2cabb4e1f90b18eabcb799a65/request/writer.go#L17

`bufsize` plugin could then set this value instead e.g `w.MaxUDPSize = uint16(bufsize)`

**Considerations**:

* this MaxUDPSize should probably have a sane default. I would be tempted to go with [DNSFlagDay 2020](https://dnsflagday.net/2020/) values, but for backward compatibility, it is probably better to use 4096?
* MaxUDPSize == 0 would need to be handled by whichever sane default previously chosen.
* We may be willing to have a separate size for IPv4 and IPv6
* If the intent of `bufsize` was to set the max UDP payload the server was willing to receive, then this would not work as expected.

** Further considerations**:

Setting the response EDNS size to the request EDNS size is still not correct, but I view this more as cosmetic than a practical problem (based on my use-case), but the responder EDNS bufsize should reflect what the server is willing to accept as a UDP payload sent their way, typically for UPDATE for instance.

[RFC6891 Section 6.2.4](https://tools.ietf.org/html/rfc6891#section-6.2.4):
> The responder's maximum payload size can change over time but can
   reasonably be expected to remain constant between two closely spaced
   sequential transactions, for example, an arbitrary QUERY used as a
   probe to discover a responder's maximum UDP payload size, followed
   immediately by an UPDATE that takes advantage of this size.  This is
   considered preferable to the outright use of TCP for oversized
   requests, if there is any reason to suspect that the responder
   implements EDNS, and if a request will not fit in the default
   512-byte payload size limit.
   
   So likely, when calling `SizeAndDo` https://github.com/coredns/coredns/blob/03812bb1e7ec6af384976bc4a9fb22f054dece89/request/request.go#L191, this value should probably also be set to a server controlled value, similar to this bug report. And it could also probably be handled by the bufsize plugin.
   I am happy to open a separate issue for that though.
   
   