plugin/file: less does not follow RFC 4034 and 1034

I've been investigating unrelated issue and noticed problems in implementation of [`less`](https://github.com/coredns/coredns/blob/c113fe48769e5dba61ddc27e46867e5302a173cb/plugin/file/tree/less.go#L18-L42):

### Garbage after doDDD is participates in comparison

```go
doDDD(ab)
doDDD(bb)
```

doDDD takes []byte and "folds" DDD representation into appropriate byte. Note, however, that it does it in place and slice is not resized. Meaning that labels with DDD are tailed with garbage before they are passed to `bytes.Compare`. Because of that "home\\ media" is never equal to "home\\032media" (which ends up to be "home\\ mediaia" after doDDD). So bytes.Compare is either 1 or -1, depending on the order of arguments, but never 0.

### Label is compared together with trailing .

This breaks RFC 4034, Section 6.1 requirements for left-justification and absent octet being smaller than `\0`. In current implementation `a.example. > a-b.example.` while the expectation is `a.example. < a-b.example.`

### Case folding is not per RFC 1034

Only bytes in the `A-Z` and `a-z` ranges must compare equal. Current implementation folds indiscriminately and thus `café.example. = CAFÉ.example.` while the expectation is `café.example. > CAFÉ.example.`

Another issue is that the function cannot handle relative names. This probably never happens. However, there are tests that suggest it could have happened in the past:

- [TestLess_EmptyVsName](https://github.com/coredns/coredns/blob/2ad79f66fa9aa03a75fdcea71d166cf2ddb32bb6/plugin/file/tree/less_test.go#L86)
- [TestLess_EmptyVsEmpty](https://github.com/coredns/coredns/blob/2ad79f66fa9aa03a75fdcea71d166cf2ddb32bb6/plugin/file/tree/less_test.go#L95)
- Bug (?) in [TestLess](https://github.com/coredns/coredns/blob/2ad79f66fa9aa03a75fdcea71d166cf2ddb32bb6/plugin/file/tree/less_test.go#L19) that spelled `aaa.powerdns.de` without trailing dot

Another issue with current implementation is that `ToLower` happens after `doDDD`. This violates RFC because if \DDD decodes into uppercase 'A-Z' then it will be compared as such. 

Implementation in my PR resolves this.