auto: Does not preserve case of SRV replies

<!-- Please use this template while reporting a bug and provide as much info as possible. Not doing so may result in your bug not being addressed in a timely manner. Thanks!

If the matter is security related, please disclose it privately via security@coredns.io
-->

**What happened**:

Reply for the SRV resource record squashed uppercase characters in the query

**What you expected to happen**:

Reply should have preserved case in the query

**How to reproduce it (as minimally and precisely as possible)**:

Corefile:
```
. {
    log
    errors
    auto {
        directory ...
        reload 2s
    }
}
```

Zone:
```
$ORIGIN home.arpa.
$TTL 5
@ IN SOA @ nobody.invalid. 8 3600 1200 604800 5
     NS @
     AAAA ...
_smb._tcp PTR Home\ Media._smb._tcp
Home\ Media._smb._tcp SRV 0 0 445 samba
```

```shell
$ dig @... -t PTR "_smb._tcp.home.arpa."
;; QUESTION SECTION:
;_smb._tcp.home.arpa.		IN	PTR

;; ANSWER SECTION:
_smb._tcp.home.arpa.	5	IN	PTR	Home\032Media._smb._tcp.home.arpa.

$ dig @... -t SRV "Home Media._smb._tcp.home.arpa."
;; QUESTION SECTION:
;Home\032Media._smb._tcp.home.arpa. IN	SRV

;; ANSWER SECTION:
home\032media._smb._tcp.home.arpa. 5 IN	SRV	0 0 445 samba.home.arpa.
```

**Anything else we need to know?**:

[RFC 6763, Section 4.1.1](https://datatracker.ietf.org/doc/html/rfc6763#section-4.1.1):
> The <Instance> portion of the Service Instance Name is a user-
   friendly name consisting of arbitrary Net-Unicode text [[RFC5198](https://datatracker.ietf.org/doc/html/rfc5198)].  It
   MUST NOT contain ASCII control characters (byte values 0x00-0x1F and
   0x7F) [[RFC20](https://datatracker.ietf.org/doc/html/rfc20)] but otherwise is allowed to contain any characters,
   without restriction, including spaces, uppercase, lowercase,
   punctuation -- including dots -- accented characters, non-Roman text,
   and anything else that may be represented using Net-Unicode.

**Environment**:

- the version of CoreDNS: 1.22